addict==2.2.0
amqp==2.5.0
asn1crypto==0.24.0
attrs==19.1.0
avro-python3==1.8.2
backports.csv==1.0.7
billiard==3.6.0.0
CacheControl==0.12.6
cachetools==4.1.0
celery==4.3.0
certifi==2019.3.9
chardet==3.0.4
confluent-kafka==1.3.0
coreapi==2.3.3
coreschema==0.0.4
crc64iso==0.0.2
crypto==1.4.1
dataclasses==0.6
defusedxml==0.6.0
diff-match-patch==20181111
Django==2.1.7
django-cors-headers==3.2.1
django-elasticsearch-dsl==7.0.0
django-import-export==1.2.0
djangorestframework==3.9.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
djongo==1.2.31
elasticsearch==7.0.4
elasticsearch-dsl==7.0.0
et-xmlfile==1.0.1
firebase-admin==4.0.0
google-api-core==1.17.0
google-api-python-client==1.8.2
google-auth==1.14.2
google-auth-httplib2==0.0.3
google-cloud-core==1.3.0
google-cloud-firestore==1.6.2
google-cloud-storage==1.28.1
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
grpcio==1.28.1
httplib2==0.17.3
idna==2.8
itypes==1.1.0
jdcal==1.4.1
Jinja2==2.10
jsonschema==3.0.1
kafka-python==2.0.1
kombu==4.6.3
Markdown==3.0.1
MarkupSafe==1.1.1
msgpack==1.0.0
Naked==0.1.31
odfpy==1.4.0
openapi-codec==1.3.2
openpyxl==2.6.3
protobuf==3.11.3
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pycrypto==2.6.1
Pygments==2.3.1
PyJWT==1.7.1
pymongo==3.7.2
pyrsistent==0.15.2
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1.2
random-password-generator==2.1.0
requests==2.21.0
rsa==4.0
sentry-sdk==0.16.0
shellescape==3.4.1
simplejson==3.16.0
six==1.12.0
sqlparse==0.2.4
tablib==0.13.0
uritemplate==3.0.0
urllib3==1.24.1
uWSGI==2.0.18
vine==1.3.0
xlrd==1.2.0
xlwt==1.3.0
filelock==3.0.12
